[submodule "deps/gaia"]
	# Commit: 5b47714dd5607993a1a91f2b06a6d92cbb504721
	path = deps/gaia
	url = git@github.com:cosmos/gaia.git
    branch = main
[submodule "dockernet/tests/bats/bats-core"]
	path = dockernet/tests/bats/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "dockernet/tests/bats/bats-assert"]
	path = dockernet/tests/bats/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "dockernet/tests/bats/bats-support"]
	path = dockernet/tests/bats/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "deps/hermes"]
	path = deps/hermes
	url = git@github.com:soohoio/hermes.git
	branch = master
[submodule "deps/ibc-proto-rs"]
	path = deps/ibc-proto-rs
	url = git@github.com:soohoio/ibc-proto-rs.git
	branch = main
[submodule "deps/relayer"]
	path = deps/relayer
	url = git@github.com:soohoio/relayer.git
	branch = main
[submodule "deps/osmosis"]
    # Commit: 08669da8509059980dc964976ee1ca60c84f5c8a
	path = deps/osmosis
	url = git@github.com:osmosis-labs/osmosis.git
	branch = main
[submodule "deps/evmos"]
    # Commit: ec337e0357ae6b6727ad9092ac0ce3667df91319
	path = deps/evmos
	url = git@github.com:evmos/evmos.git
	branch = main
